<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloServlets</display-name>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>first</servlet-name>
  	<servlet-class>com.servlet.direct.FirstServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <!-- register the servlet with tomcat, note it needs the fully 
  			qualified name for the class -->
  <servlet>
  	<servlet-name>direct</servlet-name>
  	<servlet-class>com.servlet.direct.DirectServlet</servlet-class>
  </servlet>
  
  <!-- map the servlet to a url pattern -->
  <servlet-mapping>
  	<servlet-name>direct</servlet-name>
  	<url-pattern>/direct</url-pattern>
  </servlet-mapping>
  
  <!-- you can have multiple url patterns for servlets -->
  <servlet-mapping>
  	<servlet-name>direct</servlet-name>
  	<url-pattern>/somewhere</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>