<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HelloServlets</display-name>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   
  </welcome-file-list>
  <context-param>
  	<param-name>contextual param</param-name>
  	<param-value>woah this is contextual!!!</param-value>
  </context-param>
  <servlet>
  	<servlet-name>first</servlet-name>
  	<servlet-class>com.servlet.direct.FirstServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <!-- register the servlet with tomcat, note it needs the fully 
  			qualified name for the class -->
  <servlet>
  	<servlet-name>direct</servlet-name>
  	<servlet-class>com.servlet.direct.DirectServlet</servlet-class>
  </servlet>
  
  <!-- map the servlet to a url pattern -->
  <servlet-mapping>
  	<servlet-name>direct</servlet-name>
  	<url-pattern>/direct</url-pattern>
  </servlet-mapping>
  
  <!-- you can have multiple url patterns for servlets -->
  <servlet-mapping>
  	<servlet-name>direct</servlet-name>
  	<url-pattern>/somewhere</url-pattern>
  </servlet-mapping>
  
   <!-- load on startup will determine when the servlet is initialized
  			a positive number or 0 will load it eagerly while
  			a negative number will load it lazily, also this is
  			default if left out completely -->
  <servlet>
  	<servlet-name>indirect</servlet-name>
  	<servlet-class>com.servlet.indirect.ForwardAndRedirectServlet</servlet-class>
  	<load-on-startup>-1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>indirect</servlet-name>
  	<url-pattern>/mighty</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
  	<servlet-name>life</servlet-name>
  	<servlet-class>com.servlet.indirect.LifecycleServlet</servlet-class>
  	<init-param>
  		<param-name>first-param</param-name>
  		<param-value>this is the first init parameter</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>life</servlet-name>
  	<url-pattern>/eddiem</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>form</servlet-name>
  	<servlet-class>com.servlet.form.FormServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>form</servlet-name>
  	<url-pattern>/form</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>